<div class="container">
  <app-form-array></app-form-array>

  <!-- <button (click)="add()">Add</button>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; trackBy:trackById">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>
          <button (click)="delete(employee)" class="btn btn-primary">Delete</button>&nbsp;
          <button (click)="update(employee)" class="btn btn-primary">Update</button>&nbsp;
          <button (click)="move(employee)" class="btn btn-primary">Move Up</button>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>


<router-outlet></router-outlet>